/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */


button{
    cursor: pointer;
}
html,body{
    margin:0px;
    padding:0px;
    background-color: #F4EFEA;
    overflow-x: hidden;
}
/* Admission page css */
#sub-main-Content{
    display: flex;
}

#admission-Content{
    width: 70%;
    padding: 20px;
}

h2, h4{
color: #2F2F2F;
}

p{
    color: #444444;
}

#admission-Enquiry{
    border-radius: 10px;
}


#aside-Content{

    width: 25%;
    padding-left: 30px;
}



#download-btn{
    background-color: #2E6B4E;
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
    
    border: none;
}

#download-btn  a{
    color: #F7F2ED;
    text-decoration: none;
}

/* index page */
.nav-bar{
    display:flex;
   
    background: linear-gradient(to bottom,#9C3F2E , #A64B3C);
    width: 100vw;
    margin-left: 0px;
    padding: 10px;
    justify-content: space-around;
}
.nav-bar button{
    background:  none;
    border: none;
    height: 40px;
    margin: 0px 0px;
    color:#F4EFEA ;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.nav-bar button:hover{
    background-color:#E76F51;
    transition: 1s;
    
}
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 10px;
            text-decoration: none;
            display: block;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }


          .logo-holder{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width:420px;
        height: 100px;
    }
    .logo-text{
        color:#2F2F2F;
        margin-bottom: 2px;
        font-weight: 500;
        font-size: 17px;
    }
    
    .imp-links-a{
        display: inline-flex;
        text-decoration: none;
        margin:1px 0;
        color:#3F7F5F ;
    }
    .imp-links-a:hover{
        color: #2E6B4E ;
        transition: 1s;
    }
    .contact-block{
        width: 10%;
        display: flex;
        flex-direction:column;
    }